# ================================
# Dependencies
# ================================
node_modules/
.pnp/
.pnp.js

# ================================
# Next.js
# ================================
.next/
out/
build/

# ================================
# Environment Files
# ================================
.env
.env*.local

# ================================
# Logs and Debug
# ================================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ================================
# Testing
# ================================
coverage/

# ================================
# Vercel
# ================================
.vercel/

# ================================
# Miscellaneous
# ================================
.DS_Store
*.pem

# ================================
# TypeScript
# ================================
*.tsbuildinfo
next-env.d.ts
